/* import google fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-base-100: #f9fafb;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #111827;

  --color-primary: #365a73;
  --color-primary-content: #ffffff;

  --color-secondary: #f59e0b;
  --color-secondary-content: #111827;

  --color-accent: #10b981;
  --color-accent-content: #ffffff;

  --color-neutral: #1f2937;
  --color-neutral-content: #f9fafb;
}

/* global font */
* {
  font-family: "Inter", sans-serif;
}

/* heading font  */
.poppins-font {
  font-family: "Poppins", sans-serif;
}

/* hero slider swiper styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
